{% extends 'blog/base.html'%}
{% load crispy_forms_tags %}
{% block title %}Django Blog - Logout{% endblock %}


{% block header%}
<header>
   <nav>
       <ul>
           <li><a href="{% url 'home' %}">Home</a></li>
           <li><a>Blog Posts</a></li>
           <li><a href="{% url 'register' %}">Register</a></li>
       </ul>
   </nav>
</header>
{% endblock %}

{% block content %}
 <div class="form_cta">
    <h1  class="text-center h5 pb-4 pt-4">You have been logged out</h1>
    <p class="text-center p-1"><a href="{% url 'login' %}">Login again</a></p>
</div>
{% endblock %}